<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="change.gr3ymatterstudios.com.change" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainPagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoutineDetailActivity"
            android:label="@string/title_activity_reminder_detail"
            android:parentActivityName=".MainPagerActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainPagerActivity">
                       </meta-data>
        </activity>
        <activity
            android:name=".StatsViewActivity"
            android:label="@string/title_activity_reminder_detail"
            android:parentActivityName=".MainPagerActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainPagerActivity">
            </meta-data>
        </activity>
        
        <provider android:authorities="change.gr3ymatterstudios.com.change" android:name=".data.RoutineProvider"></provider>
        
        
    </application>

</manifest>
